.form-style input[type="text"],
.form-style input[type="password"] {
    box-sizing: border-box;

    width: 100% !important; 
    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: block; 

    padding: 0.75rem 0.75rem; 
    border: 1px solid #192a42; 
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 0; 
    margin-bottom: 0.5rem; 

    border-radius: 0.5rem; 
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-style input[type="text"]:focus,
.form-style input[type="password"]:focus {
    z-index: 10;
    outline: none;
    border-color: #8b5cf6; /* purple-500 */
    box-shadow: 0 0 0 3px rgba(139, 92, 246, 0.5); 
}