{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block meta %}FoobaKickz{% endblock meta %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/dompurify@3.0.5/dist/purify.min.js"></script>
    
    <link rel="stylesheet" href="{% static 'css/global.css' %}">

    {% block head_extra %}{% endblock head_extra %}
</head>
<body>
    
    {% include 'navbar.html' %} 

    {% block content %}
    {% endblock content %}

    {% include 'toast.html' %}
    {% include 'modal.html' %}
</body>
</html>