{% extends 'base.html' %}

{% block content %}
  <h1>FoobaKickz</h1>

  <h4>NPM: </h4>
  <p>{{ npm }}</p> 
  <h4>Name: </h4>
  <p>{{ name }}</p> 
  <h4>Class: </h4>
  <p>{{ class }}</p> 

  <a href="{% url 'main:create_product' %}"><button>+ Add Product</button></a>
  <a href="{% url 'main:logout' %}"><button>Logout</button></a>
  <h5>Last login: {{ last_login }}</h5>
<hr>

<a href="?filter=all"><button>All Products</button></a>
<a href="?filter=my"><button>My Products</button></a>

{% if not product_list %}
<p>Belum ada produk.</p>
{% else %}
  {% for p in product_list %}
    <div>
      <h2>{{ p.name }}</h2>
      <p>Rp {{ p.price }} | {{ p.category }} {% if p.is_featured %}| Featured{% endif %}</p>
      {% if p.thumbnail %}<img src="{{ p.thumbnail }}" alt="{{ p.name }}" width="150">{% endif %}
      <p>{{ p.description|truncatewords:20 }}...</p>
      <p>Author: {{ p.user.username }}{% if not p.user %}Anonymous{% endif %}</p>
      <a href="{% url 'main:show_product' p.id %}"><button>Detail</button></a>
      <a href="{% url 'main:show_json_by_id' p.id %}">JSON</a> |
      <a href="{% url 'main:show_xml_by_id' p.id %}">XML</a>
    </div>
    <hr>
  {% endfor %}
{% endif %}
{% endblock %}