{% extends "base.html" %}
{% block content %}
<h2 class="text-xl font-semibold mb-4">My Products</h2>

{% if products %}
    <ul class="list-disc pl-6 space-y-3">
        {% for product in products %}
            <li>
                <strong>{{ product.name }}</strong> - {{ product.category }} - Rp {{ product.price }} - Stock: {{ product.stock }}
                <div class="text-sm text-gray-600">Author: {% if product.user %}{{ product.user.username }}{% else %}Anonymous{% endif %}</div>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Belum ada product</p>
{% endif %}
{% endblock %}
